<div id="comments" class="block-trish">
    <div id="contact" class="container panel-footer Comment-mainer">
        <div class="comment-container">
            <div class="text-center">
                <a href="#contact">
                <h2 class="">说点什么吧<span class="icon icon-small icon-comment"></span></h2>
                </a>
            </div>
            <div id="ds_comments" class="comment-container">
                <!-- FOR COMMENTS-->
            </div>
        </div>
    </div>
    <div id="goComment" class="container panel-footer">
        <div class="form-group">
            <div  id="editor" class="hotComment"></div>
            <div id="text_board"class="form-group">
                <input type="text" name="posInput" id="nameInput" class="form-control" value placeholder="匿名用户"/>
            </div>
            <button type="submit" id="send-button" class="btn btn-info btn-block" onclick="smooth_move_herf('#contact')">发表评论</button>
            <button type="submit" id="send-button-1" class="btn btn-info btn-block" onclick="smooth_move_herf('#contact')">发表评论</button>
            <button type="submit" id="cancel-button" class="btn btn-danger btn-block btn-right">取消</button>
        </div>
    </div>
</div>