<section id="meet-delete-so" class="meet-delete-so" style="background-position: 50% -155px;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Delete So开源啦~</h1>
            </div>
        </div>
    </div><!-- /.container -->
    <div id="subnav" class="sub-nav-wrapper" style="height: 40px;">
        <div class="sub-nav" style="top: 61px;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-pills">
                            <li class="menuItem">
                                <a href="#news">搜索结果</a>
                            </li>
                            <li class="menuItem">
                                <a href="#comments">留言</a>
                            </li>
                            <li class="menuItem">
                                <a href="#support">支持我们</a>
                            </li>
                            <li class="menuItem">
                                <a href="#share">分享</a>
                            </li>
                            <li id="top-link" class="menuItem">
                                <a href="#meet-delete-so">回到上面</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>