<section id="meet-delete-so" class="meet-delete-so">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Delete So开源啦~</h1>
            </div>
        </div>
    </div><!-- /.container -->
    <div id="subnav" class="sub-nav-wrapper" style="height: 40px;">
        <div class="sub-nav" style="top: 61px;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-pills">
                            <li class="menuItem">
                                <a onclick="smooth_move_herf('#news')">{{ second_bar_type }}</a>
                            </li>
                            <li class="menuItem">
                                <a onclick="smooth_move_herf('#comments')">留言</a>
                            </li>
                            <li class="menuItem">
                                <a onclick="smooth_move_herf('#support')">支持我们</a>
                            </li>
                            <li class="menuItem">
                                <a onclick="smooth_move_herf('#share')">分享</a>
                            </li>
                            <li id="top-link" class="menuItem">
                                <a onclick="smooth_move_herf('#meet-delete-so')">回到上面</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>