<section id="share" class="block-trish">
    <div class="container">
        <div class="row">
			<div class="col-10 col-offset-1 text-center">
				<h2>何不分享给别人？</h2>
				<p class="lead">
					将Delete So放入收藏夹并分享给其他人吧，Delete So将慢慢累积建议和有趣的想法！
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<ul id="share-tiles" class="list-unstyled hidden-sm" style="height: 350px;">
					<li class="inactive tile-audience active">
						<div>
							<a target="_blank" href="http://v.t.sina.com.cn/share/share.php?title=来这里，看大家正在讨论的，查猴子已经删除的。这里……是评论的OB视角。&url=http://www.delete.so"><h5>新浪微博</h5></a>
							</br>
							<small>感谢大家的建议和支持</small>
						</div>
					</li>

					<li class="inactive tile-revenue">
						<div>
							<a target="_blank" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://www.delete.so"><h5>QQ空间</h5></a>
							</br>
							<small>感谢disqus.com和Bootstrap的前端技术</small>
						</div>
					</li>

					<li class="tile-traffic inactive">
						<div>
							<a target="_blank" href="http://share.renren.com/share/buttonshare?link=http://www.delete.so"><h5>人人网</h5></a>
							</br>
							<small>感谢为Delete So添加过代码的朋友</small>
						</div>
					</li>

					<li class="inactive tile-retain">
						<div>
							<a target="_blank" href="http://share.v.t.qq.com/index.php?c=share&a=index&title=来这里，看大家正在讨论的，查猴子已经删除的。这里……是评论的OB视角。&url=http://www.delete.so"><h5>腾讯微博</h5></a>
							</br>
							<small>最后感谢大谷歌，没有大谷歌就没有互联网</small>
						</div>
					</li>
		<!-- 
					<li class="inactive tile-mobile">
						<div>
							<h5>Go Mobile</h5>
							<small class="tile-description" style="width: 312px;">Discussions can happen anywhere, anytime. Disqus Mobile keeps the discussion going, no matter where your readers go.</small>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
	</div>
</div>