<div id="support">
	<div class="container">
		<h2>支持我们</h2>
		<p class="lead">
		从14年毕业开始开发Delete So，也差不多一年了。最开始用python写（结果发布A站被退稿），因为本地版本大家用不了，所以架到BAE上用php重写了爬虫（当初还叫acmore，有人记得么？），后来数据库被狗度吃了（整整1个G呀狗度你药丸），短暂的转战SAE（这玩意儿几乎免费），接着租下了阿里云（免费用了半年，马老板就是壕），有了第一台服务器（有一阵子只能通过IP来访问呢），再后来买了域名，安稳了几个月就整套代码移植django，如各位所见，又是一堆BUG。整个网站从前端到后台，慢慢从无到有，不断改版，不断优化。期间结识了一些一起开发的朋友（虽然你们丫的干活太少），也承受了大家不少的抱怨（有时候真的是评论没抓到呀大哥们），倒也居然坚持到了一年。</br>
		</br>
		至此，对能看到这里朋友，说一声，谢谢了~！</br>
		倘若我的代码能给大家带来些许快乐，那么这个网站便还有存在的意义。</br>
		</br>
		最后说一句：“写代码实在是太快乐了！”</br>
		</p>

		<hr>
		<div class="row">
			<div class="col-4">
				<h4>技术支持</h3>
				<p>无论你是前端、运维，还是后台或者数据库，只要对Delete So感兴趣，欢迎在<a href="https://github.com/yuadsl3010/Delete-So">Github</a>上提交代码，我会定期发布Issue的。</p>
			</div>

			<div class="col-3">
				<h4>奇思妙想</h3>
				<p>提出任何你认为实用的需求。</p>
			</div>

			<div class="col-5">
				<h4>财务支持</h3>
				<p>
					<img title="支付宝二维码" src="/static/asset/image/post/DELETE_SO.png" height="256" width="256"></img>
				</p>
				<p>
					<a href="http://item.taobao.com/item.htm?id=42893343907">淘宝链接</a>
				</p>
			</div>
		</div>
	</div>
</div>