<div class="header-navigation navbar navbar-fixed-top navbar-dynamic navbar-transparent navbar-top-logo">
    <div class="container">
        <a href="/" class="navbar-brand mobile-logo animated">
            <span class="animated">Delete So</span>
        </a>
        <label for="show-menu" class="show-menu">Search</label>
        <input type="checkbox" id="show-menu" role="button">
		<ul id="menu" class="nav navbar-nav">
			<li class="navbar-brand-container">
				<a href="/" class="navbar-brand animated">
					<span class="animated">Delete So</span>
				</a>
			</li>
			<div class="bar-right">
				<form class="navbar-form navbar-left" role="form" action="search.html">
            <li>
                <div class="form-group">
                    <input type="text" name="search" id="search" class="form-control " value placeholder="ac/ab 或者 带带我">
                </div>
            	<button type="submit" id="submit" class="btn btn-large btn-block">搜索</button>
            </li>
                </form>
			</div>
		</ul>
    </div>
</div>